<div class="user">
    <a href="@Url.Action("Giohang","Giohang")" class="btn wishlist">
        <i class="fa fa-heart"></i>
        <span>(@ViewBag.Tongsoluong)</span>
        <span>@String.Format("{0:0,0}", ViewBag.Tongtien)₫</span>
    </a>
</div>