@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- Contact Start -->
<div class="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div class="contact-info">
                    <h3><i class="fa fa-map-marker"></i>Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ tới quý khách trong thời gian sớm nhất và giao hàng đúng hẹn.</h3>
                    <a href="@Url.Action("index", "BookStore")"><= Trở về trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->