
@{
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<div class="row tm-row">
    <div class="col-lg-8 tm-post-col">
        <div class="tm-post-full">
            <div class="mb-4">
                <h2 class="pt-2 tm-color-primary tm-post-title">FAQS</h2>
                <p><i class="fa fa-home"></i><a style="color:red;" href="~/Moto/index">Trang chủ</a> » FAQS</p>
                <p style=" text-align: justify; color:red;">
                    1. Thuê xe máy không cần hộ khẩu có được không?
                </p>
                <p style=" text-align: justify;">
                    &emsp;
                    &emsp;
                    Chào bạn, bên mình có nhiều chính sách thuê xe khách nhau. Sổ hộ khẩu + cmt chỉ là 1 trong những cách đấy. Nếu bạn là khách du lịch có thể dùng cmt+ thông tin vé máy bay chiều đến và rời Hà Nội là có thể thuê đươc. Ngoài ra nếu ko có shk mà chỉ có mỗi cmnd bạn cũng có thể thuê được nếu đặt cọc 3tr thay cho sổ hộ khẩu.
                </p>
                <p style=" text-align: justify; color:red;">
                    2. Tôi muốn thuê xe 1 tháng có được không? thủ tục thuê xe như thế nào?
                </p>
                <p style=" text-align: justify;">
                    &emsp;
                    &emsp;
                    Chào bạn, bên mình có nhiều chính sách thuê xe khách nhau. Sổ hộ khẩu + cmt chỉ là 1 trong những cách đấy. Nếu bạn là khách du lịch có thể dùng cmt+ thông tin vé máy bay chiều đến và rời Hà Nội là có thể thuê đươc. Ngoài ra nếu ko có shk mà chỉ có mỗi cmnd bạn cũng có thể thuê được nếu đặt cọc 3tr thay cho sổ hộ khẩu.
                </p>
                <p style=" text-align: justify; color:red;">
                    3. Đặt xe có cần đặt cọc trước không?
                </p>
                <p style=" text-align: justify;">
                    &emsp;
                    &emsp;
                    Chào bạn nha! Nếu bạn cần đặt xe thì chỉ cần cung cấp thông tin cá nhân ( số điện thoại, họ tên, email ) và lịch nhận xe + số lượng &, địa điểm nhận xe thôi ạ.
                </p>
                <p style=" text-align: justify; color:red;">
                    4. Mình có thể liên hệ đặt xe qua đâu được?
                </p>
                <p style=" text-align: justify;">
                    &emsp;
                    &emsp;
                    Chào bạn nha! Bạn liên hệ giúp mình qua số 0866.571.001 hoặc bạn có thể đặt xe trực tiếp trên website bên mình, sau đó sẽ có CSKH chủ động liên hệ chốt lại với bạn 1 lần nữa nha!
                </p>
                <hr>
            </div>
        </div>
    </div>
    <aside class="col-lg-4 tm-aside-col">
        <div class="tm-post-sidebar">

            <hr class="mb-3 tm-hr-primary">
            <h2 class="tm-mb-40 tm-post-title tm-color-primary">Bài đăng khác</h2>
            @Html.Action("Top3blogmoi", "Blog")
        </div>
    </aside>
</div>
