
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLoginAdmin.cshtml";
}



<!-- Nested Row within Card Body -->
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">ADMIN</h1>
            </div>
            <div class="user">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <label>Tên tài khoản:</label>
                        <input type="text" class="form-control form-control-user"
                               name="username"
                               id="exampleInputEmail"
                               placeholder="Tài khoản">
                        @ViewData["Loi1"]
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu:</label>
                        <input type="password" class="form-control form-control-user"
                               name="password"
                               id="exampleInputPassword" placeholder="Mật khẩu">
                        @ViewData["Loi2"]
                    </div>
                    <h6 style="color:red;">@ViewBag.Thongbao</h6>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Đăng nhập</button>
                }
            </div>
        </div>
    </div>
</div>